<div class="container">

  <h1>Hi Admin</h1>

  <hr>

  <ul>
    <p>Admins</p>
    <% @users.each do |user| %>
      <% unless !user.is_admin? || user == current_user %>
        <li><%= user.email %>
        <%= link_to "[demote]", admins_path(user.id), remote: true, method: :post %></li>
      <% end %>
    <% end %>
    <hr>
    <p>Users</p>
    <% @users.each do |user| %>
      <% unless user.is_admin? || user == current_user %>
        <li><%= user.email %>
        <%= link_to "[make admin]", admins_path(user.id), remote: true, method: :post %></li>
      <% end %>
    <% end %>
  </ul>

</div>
